*{
    width: 100%;
    height: 100px;
}
.head{
    float: left;
    font-family: "微软雅黑 Light";
    color: cadetblue;
}
.id{
    position: absolute;
    left: 1150px;
    font-family: "微软雅黑 Light";
    color: cadetblue;
}
h1{
    position: absolute;
    left: 70px;
    top: 5px;
}
.out{
    position: absolute;
    left: 1270px;
    top: 25px;
    font-family: "微软雅黑 Light";
    color: cadetblue;
}
.type1{
    position: absolute;
    left: 1200px;
    top: 30px;
}
.type2{
    position: absolute;
    left: 1250px;
    top: 30px;
}